<%= render "shared/navbar", for_sign_up: false %>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h1>Log in</h1>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <h4>
      Not registered yet?
      <a href="<%= new_user_url %>">Sign up</a> or use a
      <strong><a href="/#">demo account</a></strong>
    </h4>
  </div>
  <div class="col-md-offset-2 col-md-8">
    <%= render "shared/form_for_sign_up_or_sign_in", for_sign_up: false %>
  </div>
</div>

<script type="text/javascript">
  $a = $('h4').children().last();

  var email = "olaf@frozen.com",
      password = "123456";

  function login () {
    $.ajax({
      url: "<%= session_url %>",
      type: "POST",
      data: {user: {email: email, password: password}},
      success: function () {
        window.location = "/";
      },
      error: function () {
        window.location = "/";
      }
    });
  }

  $a.on("click", function (e) {
    e.preventDefault();
    $('#user_email').val(email);
    $('#user_password').val(password);
    $('.btn-primary').attr("disabled", true);
    $('.btn-primary').text("Logging In");
    login();
  });
</script>
