<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h1>Log in</h1>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <h4>
      Not registered with us yet?
      <a href="<%= new_user_url %>">Sign up</a> or use a
      <a href="#">demo account</a>
    </h4>
  </div>
  <div class="col-md-offset-2 col-md-8">
    <%= render "shared/form_for_sign_up_or_sign_in", for_sign_up: false %>
  </div>
</div>
