<h1>Log in</h1>
<h2>
  Not registered with us yet? <a href="<%= new_user_url %>">Sign up</a>
  or use a <a href="#">demo account</a>
</h2>

<%= render "shared/form_for_sign_up_or_sign_in", for_sign_up: false %>
