<%= render "shared/navbar", for_sign_up: true %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <%= render "shared/form_for_sign_up_or_sign_in", for_sign_up: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h3>Already a member? <a href="<%= new_session_url %>">Log in</a></h3>
  </div>
</div>

<script type="text/javascript">
  var $widget = $("#uploadWidget");
  $widget.on("click", function (e) {
    e.preventDefault();
    cloudinary.openUploadWidget({ cloud_name: 'dbgfyqa1e',
                                  upload_preset: 'm50nybft'},
      function(error, result) {
        if (result) {
          $widget.text("Upload Successful");
          $widget.append("<p>" + result[0].original_filename + "</p>");
          $("<input>").attr({
              type: "hidden",
              name: "user[profile_pic_url]",
              value: result[0].public_id
          }).appendTo('form');
        }
      }
    );
  });
</script>
