<%= render "shared/navbar", for_sign_up: true %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <%= render "shared/form_for_sign_up_or_sign_in", for_sign_up: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h3>Already a member? <a href="<%= new_session_url %>">Log in</a></h3>
  </div>
</div>
