<nav class="navbar">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-1">Logo</div>
    <% if for_sign_up %>
      <div class="col-xs-1">Sign up Page</div>
    <% end %>
    <div class="col-xs-offset-6 col-xs-1">
      <a href="<%= new_user_url %>">Sign up</a>
    </div>
    <div class="col-xs-1">
      <a href="<%= new_session_url %>">Log in</a>
    </div>
  </div>
</nav>
