/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$red: #E0393E;
$lightgray: #B6B6B4;

body {
  background: #f4f4f4;
}

.override-navbar {
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
}

#logo {
  margin-left: 30px;
  margin-right: 5px;
}

.navbar-nav > li > a {
  color: $lightgray;
}

.navbar-right > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.navbar-default .navbar-nav > li:hover {
  background-color: $red;
  a {
    color: white;
    strong {
      color: white;
    }
  }
  .dropdown-menu > li > a {
    color: #333333;
  }
}

.navbar-nav li strong {
    font-size: 30px;
    color: $red;
    display: block;
    padding-bottom: 5px;
}

.navbar-default .navbar-right > li {
  top: 20px;
  right: 50px;
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    background: white;
    span {
      color: red;
    }
  }
  a {
    border: 2px solid $lightgray;
    border-radius: 13px;
  }
  .dropdown-menu {
    a {
      border: none;
      &:hover {
        background: $red;
        color: white;
      }
    }
  }
}

#dropdown {
  background: white;
}
