/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$red: #E0393E;
$lightgray: #B6B6B4;

body {
  background: #f4f4f4;
}

.override-navbar {
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 0px;
}

#logo {
  margin-left: 30px;
  margin-right: 5px;
  width: 100px;
  height: 70px;
}

.navbar-html {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px dotted $red;
}

.navbar-nav > li > a {
  color: $lightgray;
}

.navbar-right > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.navbar-default .navbar-nav > li:hover {
  background-color: $red;
  a {
    color: white;
    strong {
      color: white;
    }
  }
  .dropdown-menu > li > a {
    color: #333333;
  }
}

.navbar-nav li strong {
    font-size: 30px;
    color: $red;
    display: block;
    padding-bottom: 5px;
}

.navbar-default .navbar-right > li {
  top: 20px;
  right: 50px;
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    background: white;
    span {
      color: red;
    }
  }
  a {
    border: 2px solid $lightgray;
    border-radius: 13px;
  }
  .dropdown-menu > li {
    a {
      display: block;
      border: none;
      border-radius: none;
      &:hover {
        background: $red;
        color: white;
      }
    }
    &:hover {
      background: $red;
      color: white;
    }
  }
}

#dropdown {
  background: white;
}

.jumbotron-main {
  background: #000 url("/assets/rafting.jpg") center center;
  width: 100%;
  height: 600px;
  background-size: cover;
  overflow: hidden;
  h2 {
    color: white;
    margin-left: 50px;
  }
}

.search-bar {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  > div {
    width: 70%;
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%) translateY(-50%);
    background: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }
  .col-md-3, .col-md-6 {
    padding-left: 0px;
    .col-md-6 {
      padding-right: 0px;
      a {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .list-group {
      position: absolute;
      width: 100%;
    }
  }
  .col-md-4 {
    padding-right: 5px;
  }
  h6 {
    right: 0;
    color: white;
    float: right;
  }
}

.glyphicon-search {
  position: absolute;
  color: $lightgray;
  right: 10px;
  top: 10px;
}

.glyphicon-none {

}

.search-holder {
  margin-left: 0px;
  padding-right: 0px;
}

.with-top-padding {
  padding-top: 15px;
  margin: 0;
}

.competitions {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 50px;
  div {
    position: relative;
    padding: 0 5px 5px 5px;
    h2 {
      position: absolute;
      bottom: 5px;
      left: 15px;
      color: white;
      text-shadow: 1px 1px 1px gray,
                   3px 3px 5px $red;
    }
  }
  img {
    background-color: gray;
  }
  .competition-focus {
    width: 100%;
    transition: all 0.5s ease;
    border: 7px solid rgba(0, 0, 0, 0);
    &:hover {
      border: 7px solid $red;
      border-radius: 50%;
    }
  }
}

.user-profile {
  padding-top: 20px;
  .user-info {
    > div {
      border-bottom: 1px solid black;
      padding-bottom: 10px;
    }
  }
  margin-bottom: 50px;
}

.profile-pic {
  img {
    padding: 1px;
    border: 1px solid black;
    background-color: $red;
  }
}

.user-interests {
  h4 {
    margin-bottom: 0;
  }
  .interests {
    margin-top: 10px;
  }
}

.user-edit-info {
  padding-top: 20px;
}

.user-edit-profile-pic {
  padding-top: 20px;
  > div {
    padding-bottom: 10px;
  }
  #uploadWidget {
    display: block;
    margin-bottom: 10px;
  }
}

.interest-competitions {
  padding-left: 0;
}

#popover {
  width: 250px;
  height: 300px;
  ul {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
}

.alerts {
  position: absolute;
  width: 100%;
  z-index: 2;
}

#info, #errors {
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.edit-interests {
  padding-top: 20px;
}

.competition-profile {
  margin-bottom: 50px;
  img {
    padding: 1px;
    border: 1px solid black;
    background-color: $red;
  }
}

.start-competition {
  margin-top: 20px;
  margin-bottom: 50px;
  .associate-label {
    display: block;
  }
}
